<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ編集フォーム</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link href="/css/recipes.css" rel="stylesheet">
</head>

<body class="bg-light">
<header id="header"></header>
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card shadow-sm">
        <div class="card-body p-0">
          <div class="recipe-header">
            <h1 class="display-5 mb-4 text-center">レシピ編集フォーム</h1>

            <div class="recipe-form justify-content-center mb-4">
              <form id="recipeForm" enctype="multipart/form-data">
                <!-- レシピID（hidden） -->
                <input type="hidden" id="recipeId" name="recipe.id"/>

                <!-- レシピ名 -->
                <div class="mb-3">
                  <label for="name" class="form-label">レシピ名（必須）</label>
                  <input type="text" class="form-control" id="name" name="recipe.name"/>
                </div>

                <!-- アップロード済みの画像の表示 -->
                <div class="justify-content-center mb-3">
                  <label for="imagePath" class="form-label">レシピ画像</label>
                  <img class="recipe-small-image img-fluid d-block mx-auto" id="imagePath"
                       alt="レシピ画像">
                </div>

                <!-- 画像のアップロード -->
                <div class="mb-3">
                  <label for="imageFile"
                         class="form-label">レシピ画像を変更したい場合はファイルを選択（ファイルサイズ：5MB以下までOK）</label>
                  <input type="file" class="form-control" id="imageFile" name="imageFile"
                         accept="image/*"/>
                </div>

                <!-- 情報元 -->
                <div class="mb-3">
                  <label for="recipeSource" class="form-label">レシピ情報元</label>
                  <input type="text" class="form-control" id="recipeSource"
                         name="recipe.recipeSource"/>
                </div>

                <!-- 人数 -->
                <div class="mb-3">
                  <label for="servings" class="form-label">何人分</label>
                  <input type="text" class="form-control" id="servings" name="recipe.servings"/>
                </div>

                <!-- 備考 -->
                <div class="mb-3">
                  <label for="remark" class="form-label">備考</label>
                  <input type="text" class="form-control" id="remark" name="recipe.remark"/>
                </div>

                <!-- お気に入りチェックボックス -->
                <div class="mb-3 form-check">
                  <input class="form-check-input" type="checkbox" id="favorite"
                         name="recipe.favorite"/>
                  <label class="form-check-label" for="favorite">お気に入り</label>
                </div>

                <hr>

                <!-- 材料追加 -->
                <p class="mb-3">材料
                  <button type="button" class="btn btn-sm btn-outline-primary ms-2"
                          id="addIngredient">材料を追加
                  </button>
                </p>
                <div id="ingredientsContainer"></div>

                <hr>

                <!-- 調理手順追加 -->
                <p class="mb-3">
                  調理手順
                  <button type="button" class="btn btn-sm btn-outline-primary ms-2"
                          id="addInstruction">
                    手順を追加
                  </button>
                </p>
                <div id="instructionsContainer"></div>

                <div class="row justify-content-center mt-4">
                  <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary">レシピを更新する</button>
                  </div>
                  <div class="col-auto">
                    <button type="button" id=toRecipeDetail class="btn btn-outline-secondary">
                      レシピ詳細に戻る
                    </button>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary"
                            onclick="location.href='/recipes';">
                      レシピ一覧に戻る
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="/js/recipes.js"></script>

</body>
</html>
